* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-neutral-very-dark-blue);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
:root {
--clr-primary-blue: hsl(246, 80%, 60%);
--clr-primary-light-red-work: hsl(15, 100%, 70%);
--clr-primary-soft-blue-play: hsl(195, 74%, 62%);
--clr-primary-light-red-study: hsl(348, 100%, 68%);
--clr-primary-lime-green-exercise: hsl(145, 58%, 55%);
--clr-primary-violet-social: hsl(264, 64%, 52%);
--clr-primary-soft-orange-self-care: hsl(43, 84%, 65%);

--clr-neutral-very-dark-blue: hsl(224, 50%, 9%);
--clr-neutral-dark-blue: hsl(235, 46%, 20%);
--clr-neutral-desaturated-blue: hsl(235, 45%, 61%);
--clr-neutral-pale-blue: hsl(236, 100%, 87%);

  --fs-l: 3.5rem;
  --fs-m: 2rem;
  --fs-s: 1.5rem;
  --fs-xs: 1rem;
  --fs-xxs: 0.8rem;
}

/*@media screen and (min-width: 1024px) {
    .dashboard {
        width: 70rem;
    }
}

@media screen and (min-width: 768px) {
    .dashboard {
        width: 47rem;
        height: 33rem;
    }

} */

h1 {
    font-size: var(--fs-s);
    font-weight: 100;
}

p {
    font-size: var(--fs-xxs);
    font-weight: 100;
    opacity: 0.6;
}

h2 {
    font-size: var(--fs-m);
    font-weight: 100;
}

h3 {
    font-size: var(--fs-xs);
    font-weight: 400;
}


.dashboard {
    display: grid;
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.main-widget {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    grid-row: span 2;
    color: white;
    background-color: var(--clr-neutral-dark-blue);
}

.main-widget img {
    width: 3.5rem;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 50%;
}

.personal-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    background-color: var(--clr-primary-blue);
    padding: 2rem;
    border-radius: 1rem
}

.time-period {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem;
}

.time-period p:hover {
    text-decoration: underline;
    cursor: pointer;
}


.activity-card {
    height: 8rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.activity-item:hover{
    background-color: hsl(215, 67%, 21%);
}

.activity-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--clr-neutral-dark-blue);
}

.activity-score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 2rem;
}

$activity-card-backgrounds: 
var(--clr-primary-light-red-work),
var(--clr-primary-light-red-work),
var(--clr-primary-soft-blue-play),
var(--clr-primary-light-red-study),
var(--clr-primary-lime-green-exercise),
var(--clr-primary-violet-social),
var(--clr-primary-soft-orange-self-care);

@for $i from 1 through length($activity-card-backgrounds) {
.activity-card:nth-child(#{$i}) {
    background: linear-gradient(nth($activity-card-backgrounds, $i) 0%, nth($activity-card-backgrounds, $i) 50%, transparent 50%, transparent 100%);
}
}

.activity-img {
    position: absolute;
    width: 60px;
    object-fit: contain;
    top: -6px;
    right: 10px;
}

.activity-item img {
width: 15px;
object-fit: contain;
}

.activity-info {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.footer {
    width: 100%;
    color: white;
    font-size: var(--fs-xxs);
    text-align: center;
}
